main {
    width: 100%;
    min-height: 700vh;
    background-color: var(--darkgray);
    background-image: url(../Image/bg-top.png);
    block-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    align-content: flex-start;

    >header {

        width: 100%;
        height: 130px;
        background-color: transparent;

        justify-content: space-evenly;
        font-family: var(--kufam);

        >* {}

        >figure {
            width: 20%;
            height: 100%;

            >img {
                object-fit: contain;
                width: 80%;
                height: 100%;
            }
        }

        >ul {
            width: 60%;
            height: 100%;
            justify-content: center;
            align-items: center;

            >li {
                color: var(--light-white);
                margin-inline: 20px;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                transition: .2s;

                >a {
                    color: var(--light-white);
                }

                &:nth-of-type(5) {
                    color: var(--orange);
                }

                &:hover>a {
                    color: var(--orange);
                }

                &:nth-of-type(4) {
                    position: relative;


                    >ul {
                        width: 200px;
                        height: 100px;
                        background-color: var(--blackbg);
                        position: absolute;
                        top: 50px;
                        left: 0;
                        border-radius: 20px;
                        align-content: flex-start;
                        align-content: center;
                        opacity: 0;
                        visibility: hidden;
                        transition: .3s;
                        transform: translateY(-20px);

                        >li {
                            width: 100%;
                            padding-left: 20px;
                            padding-block: 2px;
                            transition: .1s;

                            &:hover {
                                border-left: 5px solid var(--orange);
                            }


                        }
                    }

                    &:hover>ul {
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(0);

                    }
                }
            }
        }

        >section {
            width: 20%;
            height: 100%;
            justify-content: flex-end;
            align-items: center;

            >a {
                padding-inline: 30px;
                padding-block: 25px;
                height: 0;
                border: 1px solid var(--orange);
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--light-white);
                font-weight: 900;
                font-size: 14px;
                transform: .1s;

                &:hover {
                    background-color: var(--orange);
                }

            }
        }
    }

    >section {
        width: 100%;
        height: 100px;
        background-color: rgba(0, 0, 0, 0.504);
        justify-content: space-between;

        >h2 {
            align-content: center;
            color: var(--orange);
            font-size: 35px;
            width: 50%;
            height: 100%;

            padding-left: 40px;
        }

        >div {
            width: 50%;
            height: 100%;

            align-content: center;
            color: var(--light-white);
            justify-content: flex-end;
            padding-inline: 30px;

            >i {
                padding-inline: 3px;

            }

        }
    }

    >div {
        margin-top: 90px;
        width: 100%;
        min-height: 300vh;
        justify-content: space-between;

        >section {
            border: 1px solid white;

            &:nth-of-type(1) {
                width: 65%;
                height: 100%;

                >figure {
                    width: 770px;
                    height: 540px;
                    
                    display: flex;
                    color: var(--light-white);
                    position: relative;
                    box-shadow: 20px 25px .5px rgba(0, 0, 0, 0.498);
                    margin: 40px;
                    border-radius: 15px;

                    >span {
                        font-size: 50px;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    >div {
                        width: 150px;
                        height: 50px;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        margin-left: 35px;

                        >img {
                            height: 100%;
                            border-radius: 50%;
                            width: 30%;
                        }

                        >section {
                            width: 70%;
                            >* {
                                justify-content: center;
                                padding-left: 10px;
                                height: 50%;
                                width: 100%;
                                
                            }

                            >strong {}

                            >p {
                              
                            }
                        }
                    }

                    &:nth-of-type(1) {
                        justify-content: center;
                        align-items: center;
                        height: 330px;

                        >i {
                            font-size: 70px;

                        }
                    }

                }
            }

            &:nth-of-type(2) {
                width: 35%;
                height: 100%;


            }
        }
    }
}