main {
    width: 100%;
    min-height: 100vh;
    background-color: var(--black-bg);
    background-image: url(../img/bg-top.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}
/* ____________________*************************contact_section ************_____________________ */
.contact_section {
    width: 100%;
    min-height: 70vh;

    >div {
        width: 100%;
        height: 100px;
        background-color: var(--black);
        margin-top: 100px;
        align-items: center;
        justify-content: space-between;
        padding-inline: 50px;

        >h1 {
            font-size: 40px;
            font-weight: bold;
            color: var(--orange);
            font-family: var(--font);
        }

        >span {
            font-size: 24px;
            color: white;

            >a {
                color: white;
            }
        }
    }

    >.contact-info {
        width: 90%;
        height: 150px;
        justify-content: center;
        border-bottom: 2px solid var(--black);
        margin: 30px auto;

        >div {
            width: 30%;
            height: 150px;
            margin-inline: 15px;
            align-items: center;
            padding: 15px;

            >a {
                color: white;
                font-size: 24px;
                font-family: var(--font);
                margin-left: 15px;
                transition: .3s;
                >span {
                    color: var(--orange);
                    font-size: 24px;

                }
                &:hover{
                    color: var(--orange);
                }

            }

            >i {
                padding: 30px;
                border-radius: 10px;
                background-color: var(--dark);
                color: var(--orange);
                font-size: 24px;
                transition: .3s;
                &:hover{
                    background-color: white;
                }
            }
        }
    }
}
/* _______________________*************************message-form********************______________________ */
.message-form{
    width: 100%;
    min-height: 100vh;
    background-color: var(--black-bg);
    justify-content: center;
    >div{
        width: 700px;
        min-height: 600px;
        font-family: var(--font);
        align-content: flex-start;
        text-align: center;
        justify-content: center;
        >span{
            color: gray;
            font-size: 20px;

        }
        >h3{
            font-size: 40px;
            color: white;
            margin-block: 30px;
            >strong{
                color: var(--orange);
            }
        }
        >form{
            width: 90%;
            height: 500px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-content: flex-start;
            >input{
                all: unset;
                width: 280px;
                height: 50px;
                background-color: black;
                text-align: start;
                padding-left: 10px;
                border-radius: 15px;
                color: white;
                margin-top: 20px;
            }
            >textarea{
                all: unset;
                width: 570px;
                height: 200px;
                background-color: black;
                margin-top: 20px;
                border-radius: 20px;
                text-align: start;
                padding: 20px;
                color: white;
            }
            >button{
                all: unset;
                width: 150px;
                height: 40px;
                background-color: var(--orange);
                border-radius: 20px;
                color: black;
                margin-top: 40px;
                cursor: pointer;
                transition: .2s;
                &:hover{
                    background-color: white;
                    color: var(--orange`);
                }

            }
        }
    }
    
}